
    .chessboard{display:grid; 
                grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
                grid-template-rows:repeat(8,50px);}

    .grey,.black,.grey-1,.black-1  {display:grid; 
    justify-items:center; 
    align-items:center; }



    .grey{ background-color: grey; color:black;}


    .black{background-color:darkgrey; color:black; }

    .grey-1{background-color:grey;color:white;} 

    .black-1{background-color:darkgrey; color:white;} 
